/* font  */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* css reset  */

* {
    padding: 0;
    margin: 0;
    font-family: 'ubuntu', cursive;
}

a {
    text-decoration: none;
    color: black;
}


/* designing our nav bar  */

#navcontainer a {
    color: white;
}

#navcontainer a :hover {
    background: #000;
    border-radius: 0.5cm;
}

#navbar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #f5a81e;
    position: sticky;
    top: 0;
    left: 0;
}

#logo {
    width: 36px;
    height: 36px;
    padding: 2px 10px;
}

#navcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navitem {
    padding: 20px 15px;
}

#navitem-3 {
    border-bottom: 3px solid black;
}

#navitem-3:hover {
    background-color: #f5a81e !important;
    border-radius: 0 !important;
}


/* making navbar responsive  */

@media(max-width:410px) {
    .navitem {
        padding: 10px 5px;
    }
    #navbar {
        display: block;
    }
    #logo {
        display: block;
        margin: auto;
    }
    #navcontainer a :hover {
        background: #000;
        border-radius: 0.25cm;
    }
}


/* contact form styling  */

body {
    background: url(../res/cntbg2.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#contactus {
    margin: auto;
}

#contactusheading {
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
    color: white;
}

#contactform {
    width: 640px;
    margin: auto;
    border: 2px solid gainsboro;
    border-radius: 1cm;
    padding: 0.5cm 0;
}

.contactinput {
    width: 512px;
    display: block;
    outline: none;
    text-align: center;
    margin: 4px auto;
    background-color: #ffffffd4;
    border-radius: 0.5cm;
    border: 2px solid rgb(104, 105, 102);
    height: 0.8cm;
}

#inputtag-5 {
    height: 4cm;
}

#inputtag-6:hover {
    color: white;
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid #5d5d5d;
    background-color: #5d5d5d;
}

@media(max-width:700px) {
    .contactinput {
        width: 80vw;
    }
    #contactform {
        width: 90vw;
    }
}


/* footer  */

#footer {
    background-color: black;
    font-size: 1.4rem;
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding: 4px;
    position: abosolute;
    bottom: 0px;
    right: 0;
    left: 0;
}
